page-history {
    .item-row{
        background-color: white;
        margin-bottom: 5px;
    }
    .item-header{
        font-size:smaller;
        font-weight: bold;
    }
    .item-cost{
        background-color: black;
        color: orange;
        text-align: center;
    }
    .item-date{
        font-size:x-small;
        font-style: italic;
    }
}
